
label.register-names {
    color: white;
}

.web-body {
    padding:20px 15px;
    background-color: rgba(255,255,255, 0.9);
    text-align: left;
    width: 800px;
}

.center_text {
    text-align: center !important;
}

.subscriptions {
    padding:20px 15px;
}

.bar {
    background-color: rgba(0,0,0,0.6) ;
}