{% extends "base.html"%}


{% block content %}
<header class="masthead">
  <html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  </head>

  <body>
    <center>
      <h1>{{ title }}</h1>
    </center>
    <center>
      <canvas class="bar"id="chart" width="600" height="400"></canvas>
      <script>
        // bar chart data
        var barData = {
          labels : {{ labels|safe }},
          datasets : [{
            fillColor: "rgba(255,255,255,1)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            data : {{ values|safe }}
          }]
        }

       // get bar chart canvas
       var mychart = document.getElementById("chart").getContext("2d");

         steps = 10
         max = {{max}}

       // draw bar chart
       new Chart(mychart).Bar(barData, {
         scaleOverride: true,
         scaleSteps: steps,
         scaleStepWidth: Math.ceil(max / steps),
         scaleStartValue: 0,
         scaleShowVerticalLines: true,
         scaleShowGridLines : true,
         barShowStroke : true,
         scaleShowLabels: true
         }
       );

      </script>
    </center>
  <div class="col center_text" class="form-control">
      <form method="get" action="/dashboard">
        <button type="submit" class="btn btn-primary" href="/bar">Back</button>
      </form>
  </div>

  </body>
  </html>
</header>
{% endblock %}