{% extends "base.html"%}

{% block content%}

    <header class="masthead">
        <div class="container d-flex">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Dashboard</h1>
                <!-------------------------------------------------------------------------------------------------------------------------------------------->
                <!--SUBSCRIPTION FORM-->
                <!-------------------------------------------------------------------------------------------------------------------------------------------->
                <div class="container-fluid web-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="subscriptions">
                                <h3> <b> SUBSCRIPTIONS: </b> </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                <div class="container">
                                  <div class="row">
                                    <div class="col">
                                      Name:
                                    </div>
                                    <div class="col">
                                      Description:
                                    </div>
                                    <div class="col">
                                      Monthly Price:
                                    </div>
                                    <div class="col">
                                      Category:
                                    </div>
                                    <div class="col">
                                      Delete:
                                    </div>
                                 </div>
                                </div>
                    </div>
                    <br>
                    <div class="row">
                        {% if current_user.subscriptions | length > 0 %}
                            <!--Loop through list of Subscriptions-->

                            {% for subscription in current_user.subscriptions %}
                                <div class="container">
                                  <div class="row">
                                    <div class="col">
                                      {{ subscription.name }}
                                    </div>
                                    <div class="col">
                                      {{ subscription.description }}
                                    </div>
                                    <div class="col">
                                      ${{ subscription.price }}
                                    </div>
                                    <div class="col">
                                      {{ subscription.category.name }}
                                    </div>
                                    <div class="col">
                                        <a href="/subscriptions/{{ subscription.id }}/delete" data-method="delete" onclick="return confirm('Are You sure you want to delete?")>
                                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                        </a>
                                    </div>
                                 </div>
                                 <hr>
                                </div>
                            {% endfor %}

                              <div class="col-12 center_text">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addASubscription">Add a Subscription</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addACategory">Add a Category</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewCategories">View Categories</button>
                              </div>
                              <br>
                              <br>
                              <div class="col center_text" class="form-control">
                                <form method="get" action="/bar">
                                    <button type="submit" class="btn btn-primary" href="/bar">View Analytics</button>
                                </form>
                              </div>

                        {% else %}
                            <!--Message if no subscription-->
                            <div class="col-12 center_text">
                                <h3>No Subscriptions at the moment</h3>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addASubscription">Add a Subscription</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addACategory">Add a Category</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewCategories">View Categories</button>
                            </div>

                        {% endif %}

                        <!-------------------------------------------------------------------------------------------------------------------------------------------->
                        <!--ADD a Subscription MODAL-->
                        <!-------------------------------------------------------------------------------------------------------------------------------------------->

                        <div class="modal fade" id="addASubscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                            <form action="/subscriptions/create" method="POST">
                                <div class="modal-content">
                                    <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add A Subscription</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                          <div class="modal-body">

                                            <input type="text" class="form-control" name="name" placeholder="Enter subscription name" required="true"> <br>

                                            <input type="text" class="form-control" name="description" placeholder="Description"> <br>

                                            <input type="number" class="form-control" name="price" placeholder="price" required="true" min="0" step="0.01"> <br>

                                            <select class= "form-control" name="category" id="category" required="true">
                                            {% for x in categories%}

                                            <option value="{{ x.id }}"> {{ x.name }} </option>

                                            {% endfor %}
                                            </select>

                                          </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add Subscription</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                        <!-------------------------------------------------------------------------------------------------------------------------------------------->
                        <!--ADD CATEGORY MODAL-->
                        <!-------------------------------------------------------------------------------------------------------------------------------------------->

                        <div class="modal fade" id="addACategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                            <form action="/categories/create" method="POST">
                                <div class="modal-content">
                                    <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add A Category</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                          <div class="modal-body">
                                            <input type="text" class="form-control" name="name" placeholder="Enter Category Name" required="true"> <br>
                                          </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add Category</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                        <!-------------------------------------------------------------------------------------------------------------------------------------------->
                        <!--VIEW CATEGORY MODAL-->
                        <!-------------------------------------------------------------------------------------------------------------------------------------------->
                        <div class="modal fade" id="viewCategories" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">

                            <form action="/categories/create" method="POST">
                                <div class="modal-content">
                                    <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">CATEGORIES</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                          <div class="modal-body">
                                            <!-------------------------------------------------------------------------------------------------------------------------------------------->
                                            <!--LOOP TO VIEW CATEGORY MODAL-->
                                            <!-------------------------------------------------------------------------------------------------------------------------------------------->
                                            {% for category in categories %}
                                                <div class="container">
                                                  <div class="row">
                                                    <div class="col">
                                                      {{ category.name }}
                                                    </div>
                                                    <div class="col">
                                                        <a href="/categories/{{ category.id }}/delete" data-method="delete" onclick="return confirm('Are You sure you want to delete?")>
                                                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                                        </a>
                                                    </div>
                                                 </div>
                                                 <br>
                                                </div>
                                            {% endfor %}
                                          </div>
                                    <div class="modal-footer">
                                        <button type="button" class= "form-control" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                        <!-------------------------------------------------------------------------------------------------------------------------------------------->
                        <!--END-->
                        <!-------------------------------------------------------------------------------------------------------------------------------------------->
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}